<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!-- Adicionar o arquivo CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">An error occurred</h1>
        <p>{{ message }}</p>
        <!-- Back button -->
        <button class="btn btn-primary mt-3" onclick="goBack()">Go Back</button>
    </div>

    <!-- JavaScript to go back to previous menu -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
